<!DOCTYPE html>
<html>
  <head>
    <title>NewTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p>
      <%=link_to "Submit a New Tweet", new_tweet_path%>
      <%=link_to "List of Tweets", tweets_path%>
    </p>
  </body>
</html>
